web/pub/schemas/v1/core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:ubisoa:core"
	xmlns="urn:ubisoa:core"
	elementFormDefault="qualified">
	
	<xs:element name="error">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="xs:string"/>
				<xs:element name="message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
